# Node modules
node_modules/

# Python virtual environments
venv/
todoserver/

# Compiled Python files
*.pyc
__pycache__/

# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media

.DS_Store
Thumbs.db 

.vscode/
.idea/
*.swp
# Rust-specific
/target/

# Compiled files
**/*.o
**/*.so
**/*.rlib
**/*.dll
**/*.dylib

